{% extends 'index.html' %}

{% block content %}
<div>
    <h1>Calculadora Gráfica</h1>
</div>
<div class="row">
    <div class="col">
        <div>
            <h4>Selecciona la Funcion que necesitas graficar:</h4>
        </div>
        <form action="result">
          Variable a :<input type="number" name="a" id="">
          variable b :<input type="number" name="b" id=""><br>
          variable c :<input type="number" name="c" required><br>
          variable X :<input type="number" name="x" required><br>
          <!-- <input type="text" name="text2"> -->
         <button type="submit">enviar</button>
        </form>
        <div>
        </div>
    </div>
    <div class="col">
      <div>
        <h4>Ejemplo</h4>
      </div>
      <img src="data:image/png;base64,{{resultado}}" alt="" height="600", width="600">
      </div>
    </div>
{% endblock %}